*{
    box-sizing: content-box;
}
input,select{
    font-size: 1.1rem;
}
body{
    width: 99vw;
    height: 80vh;
}
.w-100{
    width: 100%;
}
.flex{
    display: flex;
}
.f_d_c{
    flex-direction: column;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.container{
    border: 1px solid;
    width: 900px;
    height: 80%;
    border-radius: 12px;
}
header{
    font-size: 3rem;
    padding-bottom: 20px;
    text-align: center;
}
main{
    gap: 10px;
    position: relative;
}
.child{
    width: 80%;
    height: 30%;
}
.child_label{
    font-style: italic;
    width: 100%;
    font-weight: bolder;
    font-size: 1.2rem;

}
.divider{
    height: 1px;
    width: 100%;
    background-color:black;

}
.left{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.container_input{
    display: flex;
    width: 70%;
    position: relative;
}
.input{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.inputs .input{
    width: 50%;
}
#montant.active{
    outline: 1px solid red;
    
}
.disabled{
    visibility: hidden;
}
.active{
    color: brown;
    visibility: visible;
    /* font-size: 1.2rem; */
    font-weight: bolder;
}
#compte_info
{
    width: 30px;
    height: 20px;
    border-radius: 50%;
    background-color: aquamarine;
    font-size: 1.2rem;
    align-self: flex-end;
    visibility: hidden;
}
#compte_info.active{
    visibility: visible;
}
.detail{
    position: absolute;
    /* padding: 2px; */
    border-radius: 12px;
    box-shadow: 1px 1px 1px;
    left: 105%;
    top: 0;
    width: 0;
    height: 300px;
    overflow-x:scroll;  
    overflow-y:scroll;  
    transition: width ease 1s;
    background-color: darkgrey;
}
.detail.active{
    /* border: 1px solid; */
    width: 400px;
    padding: 2px;
    
}
.dest{
    transition:  visibility .8s ease;    
}
.dest.disabled{
    visibility: hidden;
}

.container_code{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(105, 105, 105, 0.781);
}
.container_code.active{
    display: flex;
}
.generated{
    background-color: rgba(220, 245, 243, 0.654);
    width: 230px;
    border-radius: 12px;
}
#numero.active
{
    outline: 1px solid brown;
    color: brown;
}